#footer= '© ' + theme.footer.since + ' - ' + date(Date.now(), 'YYYY') + ' | '
  a(rel='nofollow', target='_blank', href='https://github.com/'+config.author)= config.title + ' | '
  a(rel='nofollow', target='_blank', href='http://www.miibeian.gov.cn/')= theme.beian.icp
  | <br> Powered by
  a(rel='nofollow', target='_blank', href='https://hexo.io')  Hexo | 
  a(rel='nofollow', target='_blank', href='https://github.com/tufu9441/maupassant-hexo')  Theme
  |  by
  a(rel='nofollow', target='_blank', href='https://github.com/pagecho')  Cho
  |  <br>
  if theme.busuanzi.enable == true
    script(src='https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js', async)
    if theme.busuanzi.site_pv == true
      span#busuanzi_container_site_pv= ' ' 
      span= ' ' + __('page_views')
        span#busuanzi_value_site_pv
    if theme.busuanzi.site_uv == true
      span#busuanzi_container_site_uv= ' | ' 
      span= ' ' + __('visitors')
        span#busuanzi_value_site_uv
